.table {
    overflow: auto;
    display: block;
    width: fit-content;
    max-width: 100%;
    border: 1px solid var(--bit-border-color-lightest, #ededed);
    border-radius: 8px;

    tr:nth-child(even) {
        background-color: var(--bit-bg-dent, #f6f6f6);
    }

    thead {
        border-bottom: 1px solid var(--bit-border-color-lightest, #ededed);
    }
    th {
        font-weight: bold;
        padding: 12px 20px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        color: var(--bit-text-color-heavy, #2b2b2b);
        font-size: var(--bit-p-xs);
    }
    td {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
}