
.marginRight {
    margin-right: 10px;
}

.titleRow {
	display: flex;
    align-items: center;
    .mainTitle {
        margin-bottom: 16px;
    }
}

.marginBottom {
    margin-bottom: 32px;
}

.sectionMargin {
    margin-bottom: 50px;
}

.maxWidth {
    max-width: 700px;
}

