
.marginRight {
    margin-right: 10px;
}

.topRow {
	display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.marginBottom {
    margin-bottom: 32px;
}

.sectionMargin {
    margin-bottom: 50px;
}

.maxWidth {
    max-width: 700px;
}

