.snippetWrapper {
  position: relative;
  .codeSnippet {
    padding: 20px !important;
    border-radius: 10px;
    background-color: white;
    font-family: Roboto mono;
    font-size: var(--p-xs);
  }
  .copyIcon {
    color: white;
    position: absolute;
    top: 8px;
	  right: 8px;
	  cursor: pointer;
  }
}
