.snippetWrapper {
  position: relative;
  &:hover {
    .copyIcon {
      opacity: 1;
    }
  }
  .codeSnippet {
    padding: 20px !important;
    border-radius: 10px;
    background-color: white;
    font-family: Roboto mono;
    font-size: var(--p-xs);
  }
  .copyIcon {
    padding: 6px 8px;
    border-radius: 8px;
    background-color: white;
    opacity: 0;
    font-size: 16px;
    color: #414141;
    position: absolute;
    top: 16px;
	  right: 8px;
    cursor: pointer;
    transition: opacity 300ms ease-in-out;
  }
  
  code {
    font-family: inherit !important;
  }
  
  .copyMessage {
    top: 19px;
    right: 45px;
  }
}
