

.titleRow {
    display: none;
    @media screen and (min-width: 768px) {
        border-bottom: 1px solid var(--border-color, var(--border-color, #ededed));
        padding: 18px 20px;
        display: grid;
    }
}

.titleCol {
    text-transform: capitalize;
    color: var(--text-muted);
}
