.table {
    font-size: 14px;
    overflow: auto;
    display: block;
    thead {
        border-bottom: 1px solid var(--border-color, #ededed);
    }
    th:first-child {
        padding-left: 0;
    }
    th {
        font-weight: bold;
        padding: 20px;
        text-align: start;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    td:first-child {
        padding-left: 0;
    }
    td {
        text-align: start;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
}