.titleRow {
  border-bottom: 1px solid var(--bit-border-color-lightest, #ededed);
  padding: 18px 20px;
  display: grid;
  &.hide {
    display: none;
  }
}

.titleCol {
  text-transform: uppercase;
  color: var(--bit-text-color-light);
}