.snippetWrapper {
  position: relative;
  &:hover {
    .copyIcon {
      opacity: 1;
    }
  }
  .codeSnippet {
    padding: 16px !important;
    border-radius: 10px;
    background-color: white;
    font-family: Roboto mono;
    font-size: var(--bit-p-xs);
    margin: 0 !important; // this is so that the copy icon will consistantly sit at the corner of the snippet
  }

  .copyIcon {
    margin-left: 8px;
    padding: 6px 8px;
    border-radius: 8px;
    background-color: white;
    opacity: 0;
    font-size: 16px;
    color: #414141;
    cursor: pointer;
    transition: opacity 300ms ease-in-out;
  }

  code {
    font-family: inherit !important;
  }
}

.copy {
  display: flex;
  align-items: center;

  position: absolute;
  top: 6px;
  right: 6px;
}
