.tab {
    margin-right: 8px;
    padding-bottom: 8px;
    font-size: 0.85em;
    font-weight: bold;
    text-transform: uppercase;
    user-select: none;
    cursor: pointer;
    &.active {
      color: var(--base-color);
      border-bottom: 3px solid var(--base-color);
      cursor: unset;
    }
  }
  