
.propRow {
    border-bottom: 1px solid var(--border-color, var(--border-color, #ededed));
    margin-bottom: 8px;
    padding: 18px 20px;
    &.singleColumn {
        grid-template-columns: repeat(1, 1fr);
    }
}

.mobileTitle {
    display: none;
    &.show {
        display: flex;
        flex-basis: 50%;
        min-width: 110px;
        color: var(--text-muted);
        font-weight: bold;
        text-transform: uppercase;
        font-size: var(--p-xxs);
    }
}

.column {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.columnContent {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}


.title {
    margin: unset;
    text-transform: capitalize;
}

.required {
    color: var(--text-muted);
    font-size: 13px;
}

.name {
    margin-right: 5px;
}


.type {
    display: inline-block;
    background-color: var(--light-purple, #eceaff);
    font-family: monospace;
    width: fit-content;
    padding: 5px;
    border-radius: 4px;
}

.typeColumn {
    .highlighted {
        background: white !important;
        padding: 0 !important;
        white-space: pre-wrap;
        > code > span {
            color: rgb(57, 115, 0);
        }
    }
}