
.propRow {
    border-bottom: 1px solid var(--bit-border-color-lightest, var(--bit-border-color-lightest, #ededed));
    margin-bottom: 8px;
    padding: 18px 20px;
    &.singleColumn {
        grid-template-columns: repeat(1, 1fr);
    }
}

.mobileTitle {
    display: none;
    &.show {
        display: flex;
        flex-basis: 50%;
        min-width: 110px;
        color: var(--bit-text-color-light);
        font-weight: bold;
        text-transform: uppercase;
        font-size: var(--bit-p-xxs);
    }
}

.column {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.columnContent {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}


.title {
    margin: unset;
    text-transform: capitalize;
}

.required {
    color: var(--bit-text-color-light);
    font-size: 12px;
}

.name {
    margin-right: 5px;
    font-family: Roboto mono;
    font-size: var(--bit-p-xxs);
    color: #4646c6;
}


.type {
    display: inline-block;
    background-color: var(--bit-accent-bg, #eceaff);
    font-family: Roboto mono;
    font-size: var(--bit-p-xxs);
    width: fit-content;
    padding: 5px;
    border-radius: 4px;
}

.typeColumn {
    .highlighted {
        background: unset !important;
        font-family: Roboto mono;
        font-size: var(--bit-p-xxs);
        padding: 0 !important;
        white-space: pre-wrap;
        flex-basis: 50%;
        > code > span {
            color: rgb(57, 115, 0);
        }
    }
}

.default {
    font-family: Roboto mono;
    font-size: var(--bit-p-xxs);
}