
.propRow {
    border-bottom: 1px solid var(--border-color, var(--border-color, #ededed));
    margin-bottom: 8px;
    padding: 18px 20px;
}

.titleRow {
    display: none;
    @media screen and (min-width: 768px) {
        padding: 18px 20px;
        display: grid;
    }
}

.mobileTitle {
    display: flex;
    flex-basis: 50%;
    color: var(--text-muted);
    font-weight: bold;
    text-transform: uppercase;
    font-size: var(--p-xxs);
    @media screen and (min-width: 768px) {
        display: none;
    }
}

.column {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.columnContent {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}


.title {
    margin: unset;
    text-transform: capitalize;
}

.required {
    color: var(--text-muted);
    font-size: 13px;
}

.name {
    margin-right: 5px;
}


.type {
    display: inline-block;
    background-color: var(--light-purple, #eceaff);
    font-family: monospace;
    width: fit-content;
    padding: 5px;
    border-radius: 4px;
}

.typeColumn {
    .highligted {
        background: white !important;
        padding: 0 !important;
    }
    
    @media screen and (min-width: 768px) {
        max-width: 150px;
    }
}