
.top {
  padding: 15px 24px;
  color: var(--bit-text-color);
}

.title {
  display: flex;
  align-items: center;
  font-size: var(--bit-p-xs);
  font-weight: bold;
  > span {
    &:first-child {
      color: var(--bit-text-color-heavy);
      font-weight: bold;
      margin-right: 7px;
    }
  }
}

.tabs {
  display: flex;
  padding: 0 24px;
}
