.inlineCode {
  // some browsers shrinks monospace automatically,
  // putting another font in the end alleviates this
  font-family: monospace, sans-serif;

  border-radius: 0.25em;
  padding: 0.2em 0.4em;
  font-size: 0.85em;

  // transparent black.
  // should be similar to #ededed on white bg
  background-color: #a6a6a633;
  // background-color: var(--bit-bg-heaviest, #ededed);
}

.highlight {
  background-color: var(--bit-accent-bg, #eceaff);
}
