.linkedHeading {
	display: flex;
	align-items: center;
	// TODO - remove hard coded margin - 16px in the design
    margin-bottom: 20px;

}

.heading {
	margin-right: 8px;
}

.anchor {
	transform: translateY(4px);
}